<ion-content>

    <div class="container-fluid section header">
        <!-- Header + Menu -->
        <fb-header [content]="content1"></fb-header>
    </div>

    <div padding class="container-fluid section main body-padding">
        <div no-padding class="col-md-2">
            <table-matches [tableId]="2"></table-matches>
        </div>
        <div class="col-md-10">
            <fb-match-detail></fb-match-detail>
        </div>
    </div>
    <div class="container-fluid section sponsor">
        <!-- Nha tai tro -->
    </div>
    <div class="col-md-12 section footer">
        <!-- Footer -->
        <fb-footer></fb-footer>
    </div>































    <!-- <fb-loader *ngIf="!isDataUpdated"></fb-loader>
    <div *ngIf="isDataUpdated">
        <div>id: {{(mDatas|async)?.id}}</div>
        <div>{{(mDatas|async)?.time}}</div>
        <div>{{(mDatas|async)?.homeFc}}</div>
        <div>
            <img src={{(mDatas|async)?.homeLogo}} alt="">
        </div>
        <div>{{(mDatas|async)?.guestFc}}</div>
        <div>
            <img src={{(mDatas|async)?.guestLogo}} alt="">
        </div>
        <div>{{(mDatas|async)?.homeResult}} - {{(mDatas|async)?.guestResult}}</div>
        <div>{{(mDatas|async)?.detail}}</div>
    </div> -->
</ion-content>