table-detail {
    width: 100%;
    .box-table {
        .box-content {
            .club-logo {
                height: map-get($map: $FBSizes, $key: lineheight);
                margin-right: 5px;
                width: 1.5em;
                vertical-align: bottom;
            }
            .table {
                tr {
                    &.first {
                        background-color: #e3ffc3;
                    }
                }
                th {
                    border-top: none;
                }
            }
            $arrowSize: 7px;
            .arrow {
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }
            .draw {
                display: block;
                width: $arrowSize;
                height: $arrowSize;
                border-radius: 50%;
                background-color: map-get($map: $colors, $key: gray);
            }
            .up {
                width: 0;
                height: 0;
                border-left: $arrowSize/1.9 solid transparent;
                border-right: $arrowSize/1.9 solid transparent;
                border-bottom: $arrowSize solid map-get($map: $colors, $key: primary);
            }
            .down {
                width: 0;
                height: 0;
                border-left: $arrowSize/1.9 solid transparent;
                border-right: $arrowSize/1.9 solid transparent;
                border-top: $arrowSize solid map-get($map: $colors, $key: red);
            }
        }
    }
}