$imgWidth: 20vh;
$imgHeight: 10vh;
page-modal-gallery {
    ion-content .scroll-content {
        background: transparent !important;
    }
    .photo-onview {
        opacity: 1 !important;
    }
    #photo-width {
        height: 0;
        width: $imgWidth;
    }
    #loading {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hidden {
        display: none;
    }
}

.modal-gallery {
    .modal-wrapper {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        ion-content {
            background: rgba(black, .8) !important;
        }
        .close-button {
            border-radius: 50%;
            background-color: #E4BA28;
            position: absolute;
            top: 32px;
            right: 32px;
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
            ion-icon {
                font-weight: bold;
            }
        }
        .main-content {
            display: flex;
            height: 80vh;
            .button-left {
                width: 6vh;
                height: 20vh;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #0E0E10;
                padding: 0 10px;
                color: gray;
                font-size: 1.4em;
            }
            .button-left:hover {
                background-color: #434348;
            }
            .button-right {
                width: 6vh;
                height: 20vh;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-color: #0E0E10;
                padding: 0 10px;
                color: gray;
                font-size: 1.4em;
            }
            .button-right:hover {
                background-color: #434348;
            }
            .current-photo {
                .photo-detail {
                    height: 100%;
                    width: 100%;
                    padding-top: map-get($map: $FBSizes, $key: defaultPadding);
                    display: flex;
                    flex-direction: column;
                    .main-photo {
                        height: 100%;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        .photo-title {
                            color: white;
                            position: relative;
                            padding: 6px 0;
                            width: 100%;
                            padding-right: 30px;
                            .title {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                            }
                            .photo-number {
                                color: #E4BA28;
                                position: absolute;
                                right: 0;
                                bottom: 6px;
                            }
                        }
                        .main-photo-container {
                            width: 100%;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .photo-preview {
            max-height: 20vh;
            display: flex;
            #photos-container {
                background: black;
                height: 100%;
                width: 100%;
                overflow-x: auto;
                display: flex;
                @media (min-width: 0px) {
                    padding-top: map-get($map: $FBSizes, $key: smallerPadding);
                    padding-left: map-get($map: $FBSizes, $key: smallerPadding);
                    padding-bottom: map-get($map: $FBSizes, $key: smallerPadding);
                    >div {
                        margin-right: map-get($map: $FBSizes, $key: smallerPadding);
                    }
                }
                @media (min-width: 576px) {
                    padding-top: map-get($map: $FBSizes, $key: smallerPadding);
                    padding-left: map-get($map: $FBSizes, $key: smallerPadding);
                    padding-bottom: map-get($map: $FBSizes, $key: smallerPadding);
                    >div {
                        margin-right: map-get($map: $FBSizes, $key: smallerPadding);
                    }
                }
                @media (min-width: 768px) {
                    padding-top: map-get($map: $FBSizes, $key: defaultPadding);
                    padding-left: map-get($map: $FBSizes, $key: defaultPadding);
                    padding-bottom: map-get($map: $FBSizes, $key: defaultPadding);
                    >div {
                        margin-right: map-get($map: $FBSizes, $key: defaultPadding);
                    }
                }
                >div {
                    height: 100%;
                    width: $imgWidth;
                    min-width: $imgWidth;
                    height: $imgHeight;
                    min-height: $imgHeight;
                    position: relative;
                    .photo {
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 100%;
                        width: 100%;
                        opacity: .3;
                    }
                    .info {
                        position: absolute;
                        color: white;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}