<div class="videos container body-padding" no-padding>
    <div class="box">
        <div class="box-title">
            <span class="big-title">Video mới nhất</span>
            <span class="right-button">
                Xem tất cả &nbsp;
                <a class="fa fa-long-arrow-right" tappable href="/#/fb-/" aria-hidden="true"></a>
            </span>
        </div>
    </div>

    <div class="container-fluid list-videos" no-padding *ngIf="!isLoadingData">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                <div class="video-container">
                    <div class="image img-height-1" [ngStyle]="{'background-image': 'url(' + videosList[0].imgURL + ')'}">
                        <div class="image-info">
                            <div class="icon">
                                <ion-icon name="play"></ion-icon>
                            </div>
                            <div class="number">
                                {{videosList[0].duration}}
                            </div>
                        </div>
                    </div>
                    <div class="img-description img-description-1" padding>
                        <div class="time color-gray normal-font">{{videosList[0].date}}</div>
                        <div class="img-title color-black normal-font bold">{{videosList[0].title}}</div>
                        <div class="description normal-font">{{videosList[0].description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
                <div class="container-fluid" no-padding>
                    <div class="row">
                        <div class="col-md-6" *ngFor="let item of videosList.slice(1); let i = index">
                            <div class="video-container video">
                                <div class="image img-height-2" [ngStyle]="{'background-image': 'url(' + item.imgURL + ')'}">
                                    <div class="image-info">
                                        <div class="icon">
                                            <ion-icon name="play"></ion-icon>
                                        </div>
                                        <div class="number">
                                            {{item.duration}}
                                        </div>
                                    </div>
                                </div>
                                <div class="img-description img-description-2" padding>
                                    <div class="img-title color-black normal-font semi-bold">{{item.title}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
