<!-- <div class="video-lastest">
  <div class="col-lg-2 blank"></div>
  <div class="col-lg-8 content">
    <div class="col-lg-12 allvideo">
      <div class="text">VIDEO MỚI NHẤT</div>
      <div class="text1" (click)="allVideo()">
        Xem tất cả
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-lg-12 video">
      <div class="col-lg-6 col-sm-12 col-12 videoitem1">
        <div class="img-item">
          <img class="img-video" src="{{item1.imgURL}}">
          <div class="btnplay">
            <img class="imgplay" src="assets/imgs/2.jpg">
            <div class="time">{{item1.duration}}</div>
          </div>
        </div>
        <div class="info-item">
          <div class="date">{{item1.date}}</div>
          <div class="title">{{item1.title}}</div>
          <div class="description">
            <span class="detail">{{item1.description}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 col-12 videoitem2345">
        <div class="col-lg-6 col-6 videoitem2">
          <div class="col-lg-12 img-item">
            <img class="img-video" src="{{item2.imgURL}}">
            <div class="col-lg-6 btnplay">
              <img class="imgplay" src="assets/imgs/2.jpg">
              <span class="time">{{item2.duration}}</span>
            </div>
          </div>
          <div class="info-item">
            <div class="title">
              <span class="detail">{{item2.title}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 videoitem3">
          <div class="col-lg-12 img-item">
            <img class="img-video" src="{{item3.imgURL}}">
            <div class="col-lg-6 btnplay">
              <img class="imgplay" src="assets/imgs/2.jpg">
              <div class="time">{{item3.duration}}</div>
            </div>
          </div>
          <div class="info-item">
            <div class="title">{{item3.title}}</div>
          </div>
        </div>
        <div class="col-lg-6 videoitem4">
          <div class="col-lg-12 img-item">
            <img class="img-video" src="{{item3.imgURL}}">
            <div class="col-lg-6 btnplay">
              <img class="imgplay" src="assets/imgs/2.jpg">
              <div class="time">{{item3.duration}}</div>
            -->
<!-- ==============Xuan Phuoc=============== -->
<div class="videos container body-padding">
    <div class="box">
        <div class="box-title">
            <span class="big-title">Video mới nhất</span>
            <span class="right-button">
                Xem tất cả &nbsp;
                <a class="fa fa-long-arrow-right" tappable href="/#/fb-/" aria-hidden="true"></a>
            </span>
        </div>
    </div>

    <div class="container-fluid list-videos" no-padding *ngIf="!isLoadingData">
        <div class="row">
            <div class="col-md-6">
                <div class="video-container">
                    <div class="image img-height-1" [ngStyle]="{'background-image': 'url(' + videosList[0].imgURL + ')'}">
                        <div class="image-info">
                            <div class="icon">
                                <ion-icon name="play"></ion-icon>
                            </div>
                            <div class="number">
                                {{videosList[0].duration}}
                            </div>
                        </div>
                    </div>
                    <div class="img-description img-description-1" padding>
                        <div class="time color-gray normal-font">{{videosList[0].date}}</div>
                        <div class="img-title color-black normal-font semi-bold">{{videosList[0].title}}</div>
                        <div class="descirption small-font">{{videosList[0].description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-fluid" no-padding>
                    <div class="row">
                        <div class="col-md-6" *ngFor="let item of videosList.slice(1); let i = index">
                            <div class="video-container video">
                                <div class="image img-height-2" [ngStyle]="{'background-image': 'url(' + item.imgURL + ')'}">
                                    <div class="image-info">
                                        <div class="icon">
                                            <ion-icon name="play"></ion-icon>
                                        </div>
                                        <div class="number">
                                            {{item.duration}}
                                        </div>
                                    </div>
                                </div>
                                <div class="img-description img-description-2" padding>
                                    <div class="img-title color-black normal-font semi-bold">{{item.title}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 videoitem5">
          <div class="col-lg-12 img-item">
            <img class="img-video" src="{{item4.imgURL}}">
            <div class="col-lg-6 btnplay">
              <img class="imgplay" src="assets/imgs/2.jpg">
              <div class="time">{{item4.duration}}</div>
    </div>
</div>
<!-- ===================End==================== -->



<!-- ============Code by Son=========== -->
<!-- <div class="video-lastest">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content">
                <div class="col-md-12 allvideo">
                    <div class="text">VIDEO MỚI NHẤT</div>
                    <div class="text1" (click)="allVideo()">
                        Xem tất cả
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-md-12 video">
                    <div class="col-md-6 col-sm-12 col-12 videoitem1">
                        <div class="img-item">
                            <img class="img-video" src="{{item1.imgURL}}">
                            <div class="btnplay">
                                <img class="imgplay" src="assets/imgs/2.jpg">
                                <div class="time">{{item1.duration}}</div>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="date">{{item1.date}}</div>
                            <h2 class="title">{{item1.title}}</h2>
                            <div class="description">{{item1.description}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-12 videoitem2345">
                        <div class="col-lg-6 col-6 videoitem2">
                            <div class="img-item">
                                <img class="img-video" src="{{item2.imgURL}}">
                                <div class="btnplay">
                                    <img class="imgplay" src="assets/imgs/2.jpg">
                                    <div class="time">{{item2.duration}}</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="title">{{item2.title}}</div>
                            </div>
                        </div>
                        <div class="col-lg-6 videoitem3">
                            <div class="img-item">
                                <img class="img-video" src="{{item3.imgURL}}">
                                <div class="btnplay">
                                    <img class="imgplay" src="assets/imgs/2.jpg">
                                    <div class="time">{{item3.duration}}</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="title">{{item3.title}}</div>
                            </div>
                        </div>
                        <div class="col-lg-6 videoitem4">
                            <div class="img-item">
                                <img class="img-video" src="{{item3.imgURL}}">
                                <div class="btnplay">
                                    <img class="imgplay" src="assets/imgs/2.jpg">
                                    <div class="time">{{item3.duration}}</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="title">{{item3.title}}</div>
                            </div>
                        </div>
                        <div class="col-lg-6 videoitem5">
                            <div class="img-item">
                                <img class="img-video" src="{{item4.imgURL}}">
                                <div class="btnplay">
                                    <img class="imgplay" src="assets/imgs/2.jpg">
                                    <div class="time">{{item4.duration}}</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="title">{{item4.title}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

</div> -->