page-fb-tables {
    .main-title {
        margin-top: map-get($map: $FBSizes, $key: defaultMargin);
        margin-bottom: map-get($map: $FBSizes, $key: defaultMargin);
        position: relative;
        img {
            width: 100%;
            min-height: 10vh;
        }
        .title {
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: map-get($map: $FBFont, $key: big);
            display: flex;
            align-items: center;
            padding-left: 10%;
            line-height: 1.1em;
        }
    }
    .main-content {
        position: relative;
        margin: auto;
        padding: map-get($map: $FBSizes, $key: defaultPadding) 0px;
        padding-left: map-get($map: $FBSizes, $key: defaultPadding) * 2 !important;
        padding-right: map-get($map: $FBSizes, $key: defaultPadding) * 2 !important;
        width: 90%;
        background: map-get($map: $colors, $key: white);
        .main-option {
            display: flex;
        }
    }
}