<!-- Generated template for the FbBannerComponent component -->
<div class="banner position-relative" padding>
    <div class="background-image background "></div>

    <div class="spacer"></div>

    <div class="banner-container" text-center>

        <div class="hne-cup">
            <span class="upper-case">Hanoi eleven cup</span>
        </div>

        <div class="season">
            <span class="upper-case">season 2</span>
        </div>

        <div class="time">
            <span class="upper-case">thời gian từ 15/12 đến 10/1 năm 2017</span>
        </div>
        <donors-list></donors-list>
    </div>

    <div class="spacer"></div>

    <div class="match-special container section body-padding">
        <div class="container-fluid" no-padding>

            <div class="row no-gutters align-items-center row-match position-relative" padding-top padding-bottom>
                <div class="background-image next-match d-none d-md-block"></div>
                <div class="col-md-5 col-sm-12 time-address d-none d-md-block">
                    <div class="time" padding-left>
                        <ion-icon name="clock"></ion-icon>
                        <span>15/12/2017 - 15:45</span>
                    </div>

                    <div class="address" padding-left>
                        <ion-icon name="pin"></ion-icon>
                        <span>Sân ACB2 Mỹ Đình- Hà Nội</span>
                    </div>

                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 club">
                    <div class="container-fluid">
                        <div class="row no-gutters align-items-center justify-content-center">
                            <div class="col-md-1 col-sm-1 col-xs-3">
                                <div class="logo-club">
                                    <img src="assets/test/logo_1.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="name-club upper-case">
                                    <span>B-gate FC</span>
                                </div>
                            </div>
                            <div class="col-xs-3 d-block d-sm-none"></div>
                            <div class="col-md-2 col-sm-1 col-xs-12" text-center>
                                <div class="vs">
                                    vs
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-3 d-block d-sm-none" text-right>
                                <div class="logo-club">
                                    <img src="assets/test/logo_2.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6" text-right>
                                <div class="name-club upper-case">
                                    <span>Vạn Xuân FC</span>
                                </div>
                            </div>
                            <div class="col-xs-3 d-block d-sm-none"></div>
                            <div class="col-md-1 col-sm-1 col-xs-3 d-none d-sm-block" text-right>
                                <div class="logo-club">
                                    <img src="assets/test/logo_2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12  time-address d-block d-sm-block d-md-none" padding-top text-center>
                    <div class="time-ad">
                        <ion-icon name="clock"></ion-icon>
                        <span>15/12/2017 - 15:45</span>
                    </div>

                    <div class="address">
                        <ion-icon name="pin"></ion-icon>
                        <span>Sân ACB2 Mỹ Đình- Hà Nội</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>