fb-banner {
    .background {
        background-image: url("assets/test/fb-footer.jpg");
    }
    .background-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}