<div class="fb-home-slider-container position-relative">
    <div class="img-background d-none d-md-block">
        <img src="assets/test/gallery_bar.png" alt="">
    </div>
    <div class="container-fluid position-relative" *ngIf="!isLoadingData">

        <div class="row background  sm-background">

            <!-- ///////row-container////// -->
            <div class="col-md-2 col-sm-2 d-none d-md-block" text-center id="fb-slide-logo">
                <img src="assets/test/logo.png" alt="">
            </div>

            <div class="col-md-1 d-none d-md-block"></div>
            <div class="col-md-8 col-sm-12 col-xs-12 pd-sm" style="padding-right: 0px">

                <div class="container-fluid" no-padding>
                    <div class="row no-gutters border-bottom fb-slide-title">
                        <div class="col-md-9 col-sm-7 col-xs-8 slide-title">
                            <span>Những hình ảnh đẹp của giải đấu</span>
                        </div>
                        <div class="col-md-3 col-sm-5 col-xs-4 button-all d-none d-sm-block" text-right>
                            <span>Xem tất cả </span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="container-fluid padding-none">
                    <div class="row no-gutters align-items-center">

                        <div class="col-md-1 col-sm-1 arrow-button d-none d-md-block" (click)="preSlide()">
                            <ion-icon name="arrow-dropleft-circle"></ion-icon>
                        </div>
                        <!-- ===========slides========== -->
                        <div class="col-md-10 col-xs-12 col-sm-12" style="overflow:hidden">
                            <!-- =========show in md============ -->
                            <div class="slider-container d-none d-md-block" id="slidesContainer">
                                <div class="slide-box-container position-relative" *ngFor="let item of (slidesList | async)?.items" id="sliderBox">
                                    <div class="image-top background-image" [ngStyle]="{'background-image': 'url(' + item.arrayImage[0] + ')'}">
                                        <div class="image-badges">
                                            <div class="bd-icon">
                                                <ion-icon name="camera"></ion-icon>
                                            </div>
                                            <div class="bd-number">
                                                {{item.arrayImage.length}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-description" text-center>
                                        <span>{{item.nameOfClub1}} FC vs {{item.nameOfClub2}} FC (v{{item.numberOfHaft}})</span>
                                    </div>
                                </div>
                            </div>
                            <!-- =============end================ -->

                            <!--=============== show in sm and xs =================== -->
                            <div class="container-fluid d-block d-sm-block d-md-none" no-padding margin-top margin-bottom *ngIf="!isLoadingData">
                                <div class="row no-gutters">
                                    <div class="col-sm-6 col-xs-6 box-xs-image  position-relative" *ngFor="let item of list_fillter; let i=index">
                                        <div class="image-top background-image" [ngStyle]="{'background-image': 'url(' + item.arrayImage[0] + ')'}">
                                            <div class="image-badges">
                                                <div class="bd-icon">
                                                    <ion-icon name="camera"></ion-icon>
                                                </div>
                                                <div class="bd-number">
                                                    {{item.arrayImage.length}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image-description d-none d-sm-block" text-center>
                                            <span>{{item.nameOfClub1}} FC vs {{item.nameOfClub2}} FC (v{{item.numberOfHaft}})</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ===============end=============== -->
                        </div>
                        <!-- ==========end========= -->
                        <div class="col-md-1  col-sm-1 arrow-button d-none d-md-block text-right" (click)="nextSlide()">
                            <ion-icon name="arrow-dropright-circle"></ion-icon>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block d-block d-sm-none">
        <span>More</span>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </button>
</div>