<ion-content>
    <div style="height: 100%; width: 100%;">
        <div class="col-md-12 section header" id="header">
            <!-- Header + Menu -->
            <fb-header [content]="content"></fb-header>
        </div>
        <div class="col-md-12 section main body-padding" id="main-content">
            <div class="col-md-12 section main-title">
                <!-- main title -->
                <img src="assets/image_2/title_bar.png">
                <div class="title">
                    <span>{{mDatas.title.toUpperCase()}}</span>
                </div>
            </div>
            <!-- noi dung chinh -->
            <div class="main-content">
                <div class="col-md-3 col-sm-6 col-xs-12 image-container" *ngFor="let album of images">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + album.image.url + ')'}" (click)="onClickPhotosGroup(album.id)">
                        <div class="image-info">
                            <div class="icon">
                                <ion-icon name="camera"></ion-icon>
                            </div>
                            <div class="number">
                                <div>132</div>
                            </div>
                        </div>
                    </div>
                    <div padding class="img-description">
                        <div>{{album.id}} - B-Gate FC vs MenU FC (v1)</div>
                    </div>
                </div>
            </div>
        </div>
        <fb-spinner id="loading-icon" class="col-md-12 section hidden"></fb-spinner>
        <div class="col-md-12 section fake" *ngIf="firstLoad">
        </div>
        <div class="col-md-12 section sponsor">
            <!-- Nha tai tro -->
        </div>
        <div class="col-md-12 section footer">
            <!-- Footer -->
            <fb-footer></fb-footer>
        </div>
    </div>
</ion-content>