page-fb-gallery {
    .main-title {
        margin-top: map-get($map: $FBSizes, $key: defaultPadding);
        margin-bottom: map-get($map: $FBSizes, $key: defaultPadding);
        position: relative;
        img {
            width: 100%;
            min-height: 10vh;
        }
        .title {
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 10%;
            line-height: 1.1em;
        }
    }
    .main-content {
        padding-top: map-get($map: $FBSizes, $key: defaultPadding);
        margin-bottom: map-get($map: $FBSizes, $key: defaultMargin);
        position: relative;
        @media (min-width: 0px) {
            .image {
                min-height: 50vw !important;
            }
        }
        @media (min-width: 576px) {
            padding-left: 16px;
            padding-right: 16px;
            .image {
                min-height: 25vw !important;
            }
        }
        @media (min-width: 768px) {
            padding-left: 32px;
            padding-right: 32px;
            .image {
                min-height: 12vw !important;
            }
        }
        .image-container {
            margin-bottom: map-get($map: $FBSizes, $key: defaultPadding);
            .image {
                opacity: .8;
                width: 100%;
                min-height: 12vw;
                // background-image: url("http://vietfootball.vn/data/uploads/2017/11/TU1A4905-400x300.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                .image-info {
                    position: absolute;
                    bottom: map-get($map: $FBSizes, $key: defaultPadding);
                    left: map-get($map: $FBSizes, $key: defaultPadding);
                    color: white;
                    display: flex;
                    .icon {
                        background-color: #468010;
                        padding: 4px;
                    }
                    .number {
                        background-color: #66AB1A;
                        padding: 4px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .image:hover {
                opacity: 1;
            }
            .img-description {
                height: 12vh;
                background-color: white;
                overflow: auto;
            }
        }
    }
    #loading-icon {
        margin: 20px 0;
        position: relative;
    }
    .hidden {
        display: none;
    }
}